name: Mypy
on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Debian packages
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y python3-pip make python3-venv
      - name: Run mypy
        run: make mypy
