name: OS X Test
on:
  push:
    branches: [ master, monetdbs ]
  pull_request:

jobs:
  osx_wheel:
    runs-on: macos-11
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install monetdb
        run: brew install monetdb
      - name: Start MonetDB
        run: |
          monetdbd create /usr/local/var/lib/monetdb
          monetdbd set control=yes /usr/local/var/lib/monetdb/
          monetdbd set passphrase=testdb /usr/local/var/lib/monetdb
          monetdbd start /usr/local/var/lib/monetdb
          monetdb create demo
          monetdb release demo
          monetdb start demo
      - name: Run tests
        run: make test


